$black: #000;

nav {
  border: 1px solid $black;
  height: 150px;
}

h1 {
  float: left;
}

.container-fluid {
  padding: 0;
}

.top-menu {
  float: right;
  list-style: none;

    li {
      float: left;
      margin-right: 15px;
    }
}
